header
    .header-line
        .header-line-top
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .header-mnu-sm
                                ul
                                    li
                                        a(href="#") PROPERTY LIST
                                    li
                                        a(href="#") PROPERTY SEARCH
                                    li
                                        a(href="#") PROPERTY MAP
                                    li
                                        a(href="#") SERVICES
                                    li
                                        a(href="#") ABOUT US
                                    li
                                        a(href="#") CONTACT US
                            .header-mnu-right
                                ul
                                    li
                                        a(href="#").header-mnu-i
                                            span USD
                                            i.fa.fa-angle-down
                                    li
                                        a(href="#").header-mnu-i
                                            span EN
                                            i.fa.fa-angle-down
                                    li
                                        a(href="#")
                                            i.fa.fa-facebook
                                    li
                                        a(href="#")
                                            i.fa.fa-twitter
                                    li
                                        a(href="#")
                                            i.fa.fa-google-plus
                                    li
                                        a(href="#")
                                            i.fa.fa-youtube-play
        .header-line-mid
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            a.logo(href="#")
                                img(src="img/logo.png")
                            span VIP Home Real Estates - VIP Properties in Cyprus
                            .header-call
                                i.fa.fa-phone
                                .header-call-m
                                    span Call us now
                                    p +357 25 878 878
                                a.btn.btn-orange(href="#") SHEDULE VISIT
        .header-line-bot
            .header-mnu-bot
                ul
                    li
                        a(href="#") about cyprus
                    li
                        a(href="#") For Sale
                    li
                        a(href="#") For Rent
                    li
                        a(href="#") Commercial
                    li
                        a(href="#") Holiday Rentals
                    li
                        a(href="#") Land
                    li
                        a(href="#") International



