extends layouts/html.jade
block content
    .content
        .inner
            .container-fluid
                .row
                    .col-md-12
                        h2 heading h2
                        p
                            |Praesent sit amet tortor eu arcu tempor porttitor. Vivamus iaculis auctor lectus vitae aliquet. Sed ac tempor felis, ut auctor nunc. Nunc tincidunt convallis maximus.
                            br
                            |Etiam magna felis, egestas sed vulputate ut, hendrerit eget sapien. Nunc hendrerit tortor quis molestie interdum. Pellentesque habitant morbi tristique senectus et
                            br
                            |netus et malesuada fames ac turpis egestas. Sed scelerisque turpis libero, eu hendrerit quam varius tristique. Nulla in condimentum elit, quis eleifend lorem. Vivamus
                            br
                            |vitae eros turpis. Morbi at risus turpis. Nullam scelerisque lorem nulla, et consectetur orci fringilla eu. Integer a magna at nisl volutpat tincidunt eget vel eros. Quisque
                            br
                            |et condimentum nunc.
                        h3 Heading 3
                        p
                            |Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sit amet sapien ut justo lobortis bibendum vel nec diam. Mauris sagittis ligula eu tellus tris-
                            |tique, vitae vehicula quam hendrerit. Morbi ultricies vulputate purus, facilisis fringilla nulla. Mauris semper facilisis lacus ut rhoncus.
                            |Sed eu ex elementum, rhoncus odio quis, pretium leo. Aliquam vitae auctor velit, sit amet convallis erat. Cras placerat pellentesque justo sed elementum. Maecenas pellentesque in lectus id interdum.
                            |Cras hendrerit malesuada dolor, a cursus ligula finibus vitae. Vivamus lacinia, tortor sed pulvinar condimentum, diam justo consequat ligula, et dictum nisl neque eget
                            |dui. Proin lobortis dapibus tortor quis venenatis. Donec luctus, ligula quis iaculis convallis, libero lectus egestas neque, ac maximus nisl urna id eros. Maecenas auctor
                            |odio vel orci malesuada, eu maximus ipsum egestas. Donec feugiat ornare urna mattis bibendum.
                        p
                            |Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec libero quam, commodo at enim nec, dictum consequat tortor. Phasellus id
                            br
                            |pellentesque mauris, at venenatis dui. Nunc eleifend lorem in posuere dictum. Aliquam dictum porttitor dui eget dignissim. Phasellus in elit a lectus consectetur gravi-
                            br
                            |da. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec in mi ut magna molestie hendrerit facilisis et nulla. Duis mattis aliquet libero, idiaculis elit
                            br
                            |blandit consequat. Integer vitae nibh est. Suspendisse potenti.
        .ob
            img(src="img/ob.jpg")

