doctype html
html.no-js(lang='ru')
    include ../_head
    body
        //.pxl
        //    img(src="img/pxl-header.jpg")
        .wrapper
            include ../_header
            block content
            include ../_footer


